# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# Object Creation
# Viewing Data
1조: 처음~22번

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

# Merge

## Concat

Pandas는 join/merge 와 같은 병합작업의 경우 'concat()' 을 통해<br>
Series, DataFrame,Panel 객체를 index와 relational algebra과 결합할 수 있게해준다.

Merging 섹션을 보자 [pandas.Panel — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Panel.html)

'concat()'으로 Pandas 객체를 concatenating 하자

In [13]:
df = pd.DataFrame(np.random.randn(10, 4))

In [7]:
df

          0         1         2         3
0 -1.370113  1.306357  0.805064 -0.262886
1  0.059452  0.921803 -0.264351 -0.479659
2 -0.149725  0.429804 -1.730625 -0.585599
3  2.396598 -1.112323  0.831191  0.017524
4 -0.939851  0.398300 -1.503311  1.185740
5 -0.777850 -0.061262 -1.752889  1.381885
6  0.573826  0.704169 -1.114609 -0.916635
7 -0.311905  0.587430  0.069653 -0.247175
8  0.149070 -1.614154 -0.119656  0.534045
9  0.599226 -0.656358 -0.316240  0.335043

In [11]:
pieces = [df[:3], df[3:7], df[7:]]

In [12]:
## Join
SQL 방식으로 merge합니다. [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join) 섹션을 참고하세요.

          0         1         2         3
0 -1.370113  1.306357  0.805064 -0.262886
1  0.059452  0.921803 -0.264351 -0.479659
2 -0.149725  0.429804 -1.730625 -0.585599
3  2.396598 -1.112323  0.831191  0.017524
4 -0.939851  0.398300 -1.503311  1.185740
5 -0.777850 -0.061262 -1.752889  1.381885
6  0.573826  0.704169 -1.114609 -0.916635
7 -0.311905  0.587430  0.069653 -0.247175
8  0.149070 -1.614154 -0.119656  0.534045
9  0.599226 -0.656358 -0.316240  0.335043

In [5]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [5]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

이와 관련된 다른 예제는 아래와 같습니다.

In [6]:
left

   key  lval
0  foo     1
1  foo     2

## Append

데이터프레임에 하나, 혹은 여러 개의 행을 추가합니다. [Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation) 섹션을 참조하시기 바랍니다.

In [3]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [4]:
df

          A         B         C         D
0  1.585287 -1.185408  0.545935  0.969310
1 -1.417579  1.049525 -1.260063 -0.054941
2 -2.205915  0.267232  0.305988 -0.013593
3  1.797938  1.037938 -0.421357  0.449253
4  0.810524 -0.971801  0.445312  0.181111
5  0.315456 -0.575102  0.368868 -0.399334
6  0.629646  0.006975 -0.983729  0.077972
7  1.041567  2.249262 -1.214748 -1.204367

In [5]:
s = df.iloc[3]

In [6]:
df.append(s, ignore_index=True)

          A         B         C         D
0  1.585287 -1.185408  0.545935  0.969310
1 -1.417579  1.049525 -1.260063 -0.054941
2 -2.205915  0.267232  0.305988 -0.013593
3  1.797938  1.037938 -0.421357  0.449253
4  0.810524 -0.971801  0.445312  0.181111
5  0.315456 -0.575102  0.368868 -0.399334
6  0.629646  0.006975 -0.983729  0.077972
7  1.041567  2.249262 -1.214748 -1.204367
8  1.797938  1.037938 -0.421357  0.449253

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝