# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# Object Creation
# Viewing Data
1조: 처음~22번

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

## Join
SQL 방식으로 merge합니다. [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join) 섹션을 참고하세요.

In [5]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [5]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

이와 관련된 다른 예제는 아래와 같습니다.

In [6]:
left

   key  lval
0  foo     1
1  foo     2

## Append

데이터프레임에 하나, 혹은 여러 개의 행을 추가합니다. [Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation) 섹션을 참조하시기 바랍니다.

In [3]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [4]:
df

          A         B         C         D
0  1.585287 -1.185408  0.545935  0.969310
1 -1.417579  1.049525 -1.260063 -0.054941
2 -2.205915  0.267232  0.305988 -0.013593
3  1.797938  1.037938 -0.421357  0.449253
4  0.810524 -0.971801  0.445312  0.181111
5  0.315456 -0.575102  0.368868 -0.399334
6  0.629646  0.006975 -0.983729  0.077972
7  1.041567  2.249262 -1.214748 -1.204367

In [5]:
s = df.iloc[3]

In [6]:
df.append(s, ignore_index=True)

          A         B         C         D
0  1.585287 -1.185408  0.545935  0.969310
1 -1.417579  1.049525 -1.260063 -0.054941
2 -2.205915  0.267232  0.305988 -0.013593
3  1.797938  1.037938 -0.421357  0.449253
4  0.810524 -0.971801  0.445312  0.181111
5  0.315456 -0.575102  0.368868 -0.399334
6  0.629646  0.006975 -0.983729  0.077972
7  1.041567  2.249262 -1.214748 -1.204367
8  1.797938  1.037938 -0.421357  0.449253

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝