# [10 Minutes to pandas — pandas 0.23.3 documentation](https://pandas.pydata.org/pandas-docs/stable/10min.html)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# Object Creation
# Viewing Data
1조: 처음~22번

# Selection
## Getting
## Selection by Label
## Selection by Position
## Boolean Indexing
## Setting
2조: 23~54번

# Missing Data
# Operations
## Stats
## Apply
## Histogramming
## String Methods
3조: 55~72번

## Join
SQL 방식으로 merge합니다. [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join) 섹션을 참고하세요.

In [4]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [5]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [6]:
left

   key  lval
0  foo     1
1  foo     2

In [7]:
right

   key  rval
0  foo     4
1  foo     5

In [8]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

이와 관련된 또 다른 예제입니다.

In [9]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [10]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [11]:
left

   key  lval
0  foo     1
1  bar     2

In [12]:
right

   key  rval
0  foo     4
1  bar     5

In [13]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

# Grouping
# Reshaping
## Stack
## Pivot Tables
5조: 91~107번

# Time Series
6조: 108~126

# Categoricals
# Plotting
7조: 127~140

# Getting Data In/Out
## CSV
## HDF5
## Excel
# Gotchas
8조: 141~끝